{% load static %}
<!DOCTYPE html>
<html>
	<!--<head>
		<title> mon histoire </title>
			<link href="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}"> 
			<style type="text/css"> 
	 		h1{color:red;}
	   		p{background-color: blue;} 
		</style> 
	</head>
	<body>
		<h1>bienvenue sur mon blog</h1>
		<p>j'adore coder et j'aime django girls abidjan</p>
	</body>-->
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div class="container-fluid text-center">
            <h1 class="alert alert-primary "><a href="">Django Girls Blog</a></h1>
        </div>
        <div class="container ">
            {% for post in tous_les_postes %}
            <div>
               
                <h2 style="color:purple">{{ post.title }} </h2>
                <h6 class="text-right" style="color:blue; font-style:italic"> publié le {{ post.published_date }} </h6><br>
               <p class="text-justify"> {{ post.text }}  </p><br>

           	</div>
            {% endfor %}
        </div>
        <div>
            
        </div>
    </body>
</html>
